<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<!-- <robot name="tuplateurdf"> -->
<robot xmlns:xacro="http://wiki.ros.org/xacro">
<xacro:macro name="tuplateurdf" >
  <link name="plate_base_link">
    <inertial>
      <origin
        xyz="-0.110188165896264 -0.000736931048190436 0.13086749433908"
        rpy="0 0 0" />
      <mass
        value="30.3288981604618" />
      <inertia
        ixx="0.577805284995543"
        ixy="-8.42349240501918E-05"
        ixz="0.000202671511595327"
        iyy="0.283455228622778"
        iyz="-6.7863974954432E-05"
        izz="0.634331990016854" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tuplateurdf/meshes/plate_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tuplateurdf/meshes/plate_base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link name="mid360_0_mount_link">
    <inertial>
      <origin
        xyz="-0.254765525879826 -4.69119145696499E-05 -0.003"
        rpy="0 0 0" />
      <mass
        value="1.95877105005873" />
      <inertia
        ixx="0.0494233198598601"
        ixy="8.84581030902072E-06"
        ixz="-4.76159664573582E-21"
        iyy="0.0581652655071001"
        iyz="-1.21786444325048E-20"
        izz="0.10757683274066" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tuplateurdf/meshes/mid360_0_mount_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tuplateurdf/meshes/mid360_0_mount_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="mid360_0_mount_joint"   type="fixed">
    <origin
      xyz="0.254765525879826 4.69119145696542E-05 0.00600000000000001"
      rpy="0 0 0" />
    <parent
      link="plate_base_link" />
    <child
      link="mid360_0_mount_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link   name="mid360_0_model_link">
    <inertial>
      <origin
        xyz="-0.000199702398782031 5.42845947674585E-05 0.02203171105004"
        rpy="0 0 0" />
      <mass
        value="0.1418864966003" />
      <inertia
        ixx="4.17972143390792E-05"
        ixy="-5.61615481516918E-09"
        ixz="3.05505295547878E-07"
        iyy="4.50769581569938E-05"
        iyz="-6.56417007732606E-10"
        izz="6.87990800847132E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tuplateurdf/meshes/mid360_0_model_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tuplateurdf/meshes/mid360_0_model_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint   name="mid360_0_model_joint"  type="fixed">
    <origin
      xyz="0 -6.04607285638613E-05 0"
      rpy="0 0 0" />
    <parent
      link="mid360_0_mount_link" />
    <child
      link="mid360_0_model_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link  name="imu_0_mount_link">
  </link>
  <joint  name="imu_0_mount_joint"  type="fixed">
    <origin
      xyz="0.248765525879826 4.69119145696611E-05 0.00600000000000001"
      rpy="0 0 0" />
    <parent
      link="plate_base_link" />
    <child
      link="imu_0_mount_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link  name="top_plate_link">
    <inertial>
      <origin
        xyz="-6.59194920871187E-17 1.6980156583466E-19 -0.004"
        rpy="0 0 0" />
      <mass
        value="2.58855529350175" />
      <inertia
        ixx="0.0659207287705397"
        ixy="-4.55079283700587E-16"
        ixz="-4.44758737286576E-21"
        iyy="0.0777605993452718"
        iyz="-3.21179445803059E-20"
        izz="0.143653716859348" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tuplateurdf/meshes/top_plate_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tuplateurdf/meshes/top_plate_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint  name="top_plate_joint"   type="fixed">
    <origin
      xyz="-0.000147491458166673 4.69119145707122E-05 0.364000000000001"
      rpy="0 0 0" />
    <parent
      link="plate_base_link" />
    <child
      link="top_plate_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link   name="arm_0_mount_link">
  </link>
  <joint   name="arm_0_mount_joint"  type="fixed">
    <origin
      xyz="0.143913017324308 0 0"
      rpy="0 0 0" />
    <parent
      link="top_plate_link" />
    <child
      link="arm_0_mount_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link  name="mid360_1_mount_link">
  </link>
  <joint   name="mid360_1_mount_joint"   type="fixed">
    <origin
      xyz="0.254913017337992 0 -0.00800000000000001"
      rpy="3.14159265358979 0 0" />
    <parent
      link="top_plate_link" />
    <child
      link="mid360_1_mount_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link  name="imu_1_mount_link">
    <inertial>
      <origin
        xyz="-0.248913017337993 -1.05497395178495E-15 -0.004"
        rpy="0 0 0" />
      <mass
        value="2.58855529350175" />
      <inertia
        ixx="0.0659207287705397"
        ixy="4.54932109424665E-16"
        ixz="4.51837158156122E-21"
        iyy="0.0777605993452718"
        iyz="-3.21179445803063E-20"
        izz="0.143653716859347" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tuplateurdf/meshes/imu_1_mount_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tuplateurdf/meshes/imu_1_mount_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint  name="imu_1_mount_joint"   type="fixed">
    <origin
      xyz="0.248913017337992 0 -0.00800000000000001"
      rpy="3.14159265358979 0 0" />
    <parent
      link="top_plate_link" />
    <child
      link="imu_1_mount_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link  name="imu_1_model_link">
    <inertial>
      <origin
        xyz="-0.000461089956018179 -8.26147913373685E-09 0.012142069359444"
        rpy="0 0 0" />
      <mass
        value="0.0548243018241537" />
      <inertia
        ixx="1.0090545425447E-05"
        ixy="-9.76661681946829E-19"
        ixz="-8.08378068378048E-09"
        iyy="1.47421720952381E-05"
        iyz="-6.76863885397425E-13"
        izz="2.14470905817121E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tuplateurdf/meshes/imu_1_model_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tuplateurdf/meshes/imu_1_model_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint  name="imu_1_model_joint"  type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="imu_1_mount_link" />
    <child
      link="imu_1_model_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link  name="top_top_link">
    <inertial>
      <origin
        xyz="-0.010384242744371 -7.59969200153394E-08 -0.0452227167003428"
        rpy="0 0 0" />
      <mass
        value="0.258137611754635" />
      <inertia
        ixx="0.00605668900865502"
        ixy="3.23668991176175E-10"
        ixz="8.585028382596E-06"
        iyy="0.00603931672218682"
        iyz="-3.55305324307133E-10"
        izz="6.62239159357823E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tuplateurdf/meshes/top_top_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tuplateurdf/meshes/top_top_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint  name="top_top_joint"  type="fixed">
    <origin
      xyz="-0.25668698263057 0 0.320000000000096"
      rpy="0 0 0" />
    <parent
      link="top_plate_link" />
    <child
      link="top_top_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link  name="camera_0_plate_link">
    <inertial>
      <origin
        xyz="-0.00125000000000006 -1.23808061833492E-17 2.83106871279415E-13"
        rpy="0 0 0" />
      <mass
        value="0.0081993562125768" />
      <inertia
        ixx="1.92944213061742E-05"
        ixy="-1.13767713514131E-21"
        ixz="-9.88900189959268E-23"
        iyy="2.86939372594429E-07"
        iyz="5.2989994591975E-21"
        izz="1.90160229296346E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tuplateurdf/meshes/camera_0_plate_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tuplateurdf/meshes/camera_0_plate_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint  name="camera_0_plate_joint"   type="fixed">
    <origin
      xyz="-0.250586982629103 0 0.56206595686188"
      rpy="0 0 0" />
    <parent
      link="top_plate_link" />
    <child
      link="camera_0_plate_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="camera_0_screw_virtual_link">
  </link>
  <joint  name="camera_0_screw_virtual_joint"   type="fixed">
    <origin
      xyz="0.0102049999999883 0 -0.0144999999999438"
      rpy="0 0 -0.0199973339732278" />
    <parent
      link="camera_0_plate_link" />
    <child
      link="camera_0_screw_virtual_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link  name="ur_control_box_link">
    <inertial>
      <origin
        xyz="0.0911873843798721 -0.0324109694859774 0.109187064090548"
        rpy="0 0 0" />
      <mass
        value="0.74525462855278" />
      <inertia
        ixx="0.00529634756196679"
        ixy="8.99776202714837E-05"
        ixz="0.000148684299404145"
        iyy="0.00263658018018697"
        iyz="1.27484585108235E-06"
        izz="0.00631334826187046" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tuplateurdf/meshes/ur_control_box_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.890196078431372 0.890196078431372 0.913725490196078 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tuplateurdf/meshes/ur_control_box_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint  name="ur_control_box_joint"  type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="plate_base_link" />
    <child
      link="ur_control_box_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  </xacro:macro>
</robot>