<launch>
  <arg name="config_file" default="$(find anygrasp_ros)/config/anygrasp_d405.yaml"/>
  <arg name="python_executable" default="/home/jt001/.conda/envs/anygrasp/bin/python"/>
  <arg name="resource_config_file" default="$(find anygrasp_ros)/config/anygrasp_resources.yaml"/>
  <arg name="input_mode" default="workspace"/>

  <!-- Perception only: this launch contains no robot, MoveIt, or gripper nodes. -->
  <node pkg="anygrasp_ros"
        type="anygrasp_d405_node.py"
        name="anygrasp_d405_node"
        output="screen"
        required="true"
        launch-prefix="$(arg python_executable)">
    <env name="ANYGRASP_RESOURCE_CONFIG" value="$(arg resource_config_file)"/>
    <rosparam command="load" file="$(arg config_file)"/>
    <param name="python_executable" value="$(arg python_executable)"/>
    <param name="input_mode" value="$(arg input_mode)"/>
  </node>
</launch>
