<launch>
    <include file="$(find fast_lio_localization)/launch/PointsCloud2toLaserscan.launch"/>

    <rosparam command="load" file="$(find fast_lio_localization)/config/mid360.yaml" />

	<!-- fastlio -->
	<param name="feature_extract_enable" type="bool" value="0"/>
	<param name="point_filter_num" type="int" value="3"/>
	<param name="max_iteration" type="int" value="3" />
	<param name="filter_size_surf" type="double" value="0.5" />
	<param name="filter_size_map" type="double" value="0.5" />
	<param name="cube_side_length" type="double" value="1000" />
	<param name="runtime_pos_log_enable" type="bool" value="0" />
    <node pkg="fast_lio" type="fastlio_mapping" name="laserMapping" output="screen" /> 


    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <remap from="scan" to="/scan"/>

        <param name="odom_frame_id" value="odom"/>
        <param name="base_frame_id" value="body"/>
        <param name="global_frame_id" value="map"/>

        <param name="laser_model_type" value="likelihood_field"/>

        <param name="min_particles" value="500"/>
        <param name="max_particles" value="2000"/>

        <param name="transform_tolerance" value="0.3"/>
    </node>

    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_body_to_baselink"
        args="-0.255 0 -0.022 0 0 0 body base_link" />

    <node name = "map_server" pkg = "map_server" type = "map_server" args="/home/jt001/fastlio_ws/src/FAST_LIO/PCD/map2.yaml"/>

</launch>