<launch>
    
    <arg name="local_planner" default="true"/> <!-- true: teb, false: dwa -->

    <!-- Base robot bringup -->
    <include file="$(find tracer_bringup)/launch/tracer_robot_base.launch"/>
    <!-- Localization system -->
    <include file="$(find fast_lio_localization)/launch/tracer_localization.launch">
        <arg name="rviz_config" value="localization" if="$(arg local_planner)"/>
        <arg name="rviz_config" value="dwa" unless="$(arg local_planner)"/>
    </include>

    <node pkg="move_base" type="move_base" name="move_base">

        <remap from="odom" to="localization"/>
`    
        <rosparam file="$(find tracer_nav)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find tracer_nav)/config/local_costmap_params.yaml" command="load" />

        <param name="base_global_planner" value="global_planner/GlobalPlanner" /> 
        <rosparam file="$(find tracer_nav)/config/global_planner_params.yaml" command="load" />

        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" if="$(arg local_planner)"/>
        <rosparam file="$(find tracer_nav)/config/teb_local_planner_params.yaml" command="load" if="$(arg local_planner)"/>

        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" unless="$(arg local_planner)"/>
        <rosparam file="$(find tracer_nav)/config/dwa_local_planner_params.yaml" command="load" unless="$(arg local_planner)"/>

        <param name="controller_frequency" value="10.0" />
    </node>

</launch>