<launch>
  <!-- 基础参数 -->
  <arg name="serial_no"           default=""/>      <!-- 指定连接设备的序列号 -->
  <arg name="usb_port_id"         default=""/>      <!-- 指定设备连接的USB端口ID -->
  <arg name="device_type"         default="d455"/>  <!-- 指定设备类型，如D455 -->
  <arg name="json_file_path"      default=""/>      <!-- 指定一个JSON配置文件的路径，该文件包含用于设备的预设配置 -->
  <arg name="camera"              default="d455"/>  <!-- 指定摄像头的命名前缀 -->
  <arg name="tf_prefix"           default="$(arg camera)"/>   <!-- 指定发布到tf中的坐标系前缀 -->
  <arg name="external_manager"    default="false"/> <!-- 如果设置为true，使用外部的节点管理器 -->
  <arg name="manager"             default="realsense2_camera_manager"/>   <!-- 指定节点管理器的名称 -->
  <arg name="output"              default="screen"/>  <!-- 指定日志输出方式 -->
  <arg name="respawn"              default="false"/>  <!-- 如果节点终止，是否自动重启节点 -->

  <!-- 图像数据流参数 -->
  <arg name="fisheye_width"       default="-1"/>      <!-- 指定鱼眼摄像头的图像宽度和高度 -->
  <arg name="fisheye_height"      default="-1"/>      <!--  -->
  <arg name="enable_fisheye"      default="false"/>   <!-- 是否启用鱼眼摄像头 -->

  <arg name="depth_width"         default="1280"/>      <!-- 指定深度摄像头的图像宽度和高度 -->
  <arg name="depth_height"        default="720"/>      <!--  -->
  <arg name="enable_depth"        default="true"/>    <!-- 是否启用深度摄像头 -->

  <arg name="confidence_width"    default="1280"/>      <!-- 指定置信图像的宽度和高度 -->
  <arg name="confidence_height"   default="720"/>      <!--  -->
  <arg name="enable_confidence"   default="true"/>    <!-- 是否启用置信度图像 -->
  <arg name="confidence_fps"      default="-1"/>      <!--  置信图像的帧率 -->

  <arg name="infra_width"         default="1280"/>     <!-- 指定红外摄像头的图像宽度和高度 -->
  <arg name="infra_height"        default="720"/>     <!--  -->
  <arg name="enable_infra"        default="false"/>   <!-- 是否启用红外摄像头 -->
  <arg name="enable_infra1"       default="false"/>   <!--  -->
  <arg name="enable_infra2"       default="false"/>   <!--  -->
  <arg name="infra_rgb"           default="false"/>   <!-- 是否将红外图像与RGB图像同步 -->

  <arg name="color_width"         default="1280"/>      <!-- 指定彩色摄像头的图像宽度和高度 -->
  <arg name="color_height"        default="720"/>      <!--  -->
  <arg name="enable_color"        default="true"/>    <!-- 是否启用彩色摄像头 -->

  <!-- 性能参数 -->
  <arg name="fisheye_fps"         default="-1"/>      <!-- 对应各摄像头的帧率 -->
  <arg name="depth_fps"           default="30"/>      <!--  -->
  <arg name="infra_fps"           default="30"/>      <!--  -->
  <arg name="color_fps"           default="30"/>      <!--  -->
  <arg name="gyro_fps"            default="-1"/>      <!-- 陀螺仪和加速度计的帧率 -->
  <arg name="accel_fps"           default="-1"/>      <!--  -->
  <arg name="enable_gyro"         default="true"/>    <!-- 是否启用陀螺仪和加速度计 -->
  <arg name="enable_accel"        default="true"/>    <!--  -->

  <!-- 点云和同步参数 -->
  <arg name="enable_pointcloud"         default="true"/>   <!-- 是否生成点云数据 -->
  <arg name="pointcloud_texture_stream" default="RS2_STREAM_COLOR"/>  <!-- 点云的纹理来源 -->
  <arg name="pointcloud_texture_index"  default="0"/>       <!-- 使用的纹理流的索引 -->
  <arg name="allow_no_texture_points"   default="false"/>   <!-- 是否允许无纹理点 -->
  <arg name="ordered_pc"                default="false"/>   <!-- 是否生成有序点云 -->

  <arg name="enable_sync"               default="false"/>   <!-- 是否启用传感器数据同步 -->
  <arg name="align_depth"               default="false"/>   <!-- 是否将深度数据与其他数据流对齐 -->

  <!-- 转换和滤镜参数 -->
  <arg name="publish_tf"                default="true"/>    <!-- 是否发布TF转换 -->
  <arg name="tf_publish_rate"           default="0"/>       <!-- TF发布的频率 -->

  <arg name="filters"                   default=""/>        <!-- 应用于图像数据的滤波器 -->
  <arg name="clip_distance"             default="-2"/>      <!-- 裁剪距离，用于过滤远距离的点 -->
  <arg name="linear_accel_cov"          default="0.01"/>    <!-- 线性加速度的协方差 -->
  <arg name="initial_reset"             default="false"/>   <!-- 启动时是否重置设备 -->
  <arg name="reconnect_timeout"         default="6.0"/>     <!-- 重连超时时间 -->
  <arg name="wait_for_device_timeout"   default="-1.0"/>    <!-- 等待设备连接的超时时间  -->
  <arg name="unite_imu_method"          default=""/>        <!-- IMU数据的合并方法 -->
  <arg name="topic_odom_in"             default="odom_in"/> <!-- 接收里程计信息的话题 -->
  <arg name="calib_odom_file"           default=""/>        <!-- 里程计校准文件的路径 -->
  <arg name="publish_odom_tf"           default="true"/>    <!-- 是否发布里程计的TF数据 -->

  <!-- 曝光和增益参数 -->
  <arg name="stereo_module/exposure/1"  default="7500"/>    <!-- 第一个红外摄像头的曝光和增益设置 -->
  <arg name="stereo_module/gain/1"      default="16"/>      <!--  -->
  <arg name="stereo_module/exposure/2"  default="1"/>       <!-- 第二个红外摄像头的曝光和增益设置 -->
  <arg name="stereo_module/gain/2"      default="16"/>      <!--  -->


  <group ns="$(arg camera)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="tf_prefix"                value="$(arg tf_prefix)"/>
      <arg name="external_manager"         value="$(arg external_manager)"/>
      <arg name="manager"                  value="$(arg manager)"/>
      <arg name="output"                   value="$(arg output)"/>
      <arg name="respawn"                  value="$(arg respawn)"/>
      <arg name="serial_no"                value="$(arg serial_no)"/>
      <arg name="usb_port_id"              value="$(arg usb_port_id)"/>
      <arg name="device_type"              value="$(arg device_type)"/>
      <arg name="json_file_path"           value="$(arg json_file_path)"/>

      <arg name="enable_pointcloud"        value="$(arg enable_pointcloud)"/>
      <arg name="pointcloud_texture_stream" value="$(arg pointcloud_texture_stream)"/>
      <arg name="pointcloud_texture_index"  value="$(arg pointcloud_texture_index)"/>
      <arg name="enable_sync"              value="$(arg enable_sync)"/>
      <arg name="align_depth"              value="$(arg align_depth)"/>

      <arg name="fisheye_width"            value="$(arg fisheye_width)"/>
      <arg name="fisheye_height"           value="$(arg fisheye_height)"/>
      <arg name="enable_fisheye"           value="$(arg enable_fisheye)"/>

      <arg name="depth_width"              value="$(arg depth_width)"/>
      <arg name="depth_height"             value="$(arg depth_height)"/>
      <arg name="enable_depth"             value="$(arg enable_depth)"/>

      <arg name="confidence_width"         value="$(arg confidence_width)"/>
      <arg name="confidence_height"        value="$(arg confidence_height)"/>
      <arg name="enable_confidence"        value="$(arg enable_confidence)"/>
      <arg name="confidence_fps"           value="$(arg confidence_fps)"/>

      <arg name="color_width"              value="$(arg color_width)"/>
      <arg name="color_height"             value="$(arg color_height)"/>
      <arg name="enable_color"             value="$(arg enable_color)"/>

      <arg name="infra_width"              value="$(arg infra_width)"/>
      <arg name="infra_height"             value="$(arg infra_height)"/>
      <arg name="enable_infra"             value="$(arg enable_infra)"/>
      <arg name="enable_infra1"            value="$(arg enable_infra1)"/>
      <arg name="enable_infra2"            value="$(arg enable_infra2)"/>
      <arg name="infra_rgb"                value="$(arg infra_rgb)"/>

      <arg name="fisheye_fps"              value="$(arg fisheye_fps)"/>
      <arg name="depth_fps"                value="$(arg depth_fps)"/>
      <arg name="infra_fps"                value="$(arg infra_fps)"/>
      <arg name="color_fps"                value="$(arg color_fps)"/>
      <arg name="gyro_fps"                 value="$(arg gyro_fps)"/>
      <arg name="accel_fps"                value="$(arg accel_fps)"/>
      <arg name="enable_gyro"              value="$(arg enable_gyro)"/>
      <arg name="enable_accel"             value="$(arg enable_accel)"/>

      <arg name="publish_tf"               value="$(arg publish_tf)"/>
      <arg name="tf_publish_rate"          value="$(arg tf_publish_rate)"/>

      <arg name="filters"                  value="$(arg filters)"/>
      <arg name="clip_distance"            value="$(arg clip_distance)"/>
      <arg name="linear_accel_cov"         value="$(arg linear_accel_cov)"/>
      <arg name="initial_reset"            value="$(arg initial_reset)"/>
      <arg name="reconnect_timeout"        value="$(arg reconnect_timeout)"/>
      <arg name="wait_for_device_timeout"  value="$(arg wait_for_device_timeout)"/>
      <arg name="unite_imu_method"         value="$(arg unite_imu_method)"/>
      <arg name="topic_odom_in"            value="$(arg topic_odom_in)"/>
      <arg name="calib_odom_file"          value="$(arg calib_odom_file)"/>
      <arg name="publish_odom_tf"          value="$(arg publish_odom_tf)"/>
      <arg name="stereo_module/exposure/1" value="$(arg stereo_module/exposure/1)"/>
      <arg name="stereo_module/gain/1"     value="$(arg stereo_module/gain/1)"/>
      <arg name="stereo_module/exposure/2" value="$(arg stereo_module/exposure/2)"/>
      <arg name="stereo_module/gain/2"     value="$(arg stereo_module/gain/2)"/>

      <arg name="allow_no_texture_points"  value="$(arg allow_no_texture_points)"/>
      <arg name="ordered_pc"               value="$(arg ordered_pc)"/>  
    </include>

    <!-- <node pkg="tf" type="static_transform_publisher" name="d455_to_plate" 
    args="0 0 0 0 0 0 /camera_0_screw_virtual_link /$(arg tf_prefix)_link  100"
    if="1"/> -->
  </group>
</launch>
